body {
  margin: 0;
}

/*header {
  height: 90px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;

  .header {
    text-align: center;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Unfair', serif;

    h1 {
      font-size: 45px;
      font-weight: normal;
      margin: 0;
    }

    .lang-option {
      position: absolute;
      right: 15px;
      display: flex;

      @media (width <= 480px) {
        right: 5px;
      }

      .lang-title {
        display: flex;
        width: 70px;
        align-items: center;
        margin-right: 15px;
        color: #fff;
        font-family: 'Crimson', serif;
        font-size: 18px;

        @media (width <= 480px) {
          display: none;
        }
      }
    }
  }

}*/

main {
  /*display: flex;
  justify-content: center;
  position: relative;
  height: calc(100vh - 90px);
  overflow: hidden;
  letter-spacing: .1rem;*/
}

.wrapper {
  display: flex;
  margin: 30px;
}

.timeline {
  width: 78vw;
  margin-right: 30px;

  .buttons-menu {
    display: flex;
    margin-bottom: 20px;

    .button-menu {
      margin-right: 15px;
    }
  }
}

.add-edit-form {
  margin-top: 50px;
  position: fixed;
  right: 0;

  .form-button {
    margin-right: 20px;
  }
}


/*.hunt-map {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  z-index: 2;

  &::before {
    display: none;
  }
}*/
